form {
  display: inline-block;
  margin-top: 1em;
  text-align: center;
  margin-right: 2%;
  margin-bottom: 2%;
}

input[type=submit] {
  background-color: grey;
  /* Height and Width of button */
  width: 19.3125em;
  height: 2.1875em;
  border-radius: 10px;
  display: inline-block;
  margin-top: 2em;
  text-align: center;
  margin-right: 2%;
  margin-bottom: 2%;
  border: solid #C3073F 0.5px;
  width: 50%;
}

form input{
    height: 1.75em;
    display: inline-block;
    font-size: 1.23em;
    background-color: grey;
    border: solid #C3073F 2px;
    border-radius: 10px;
    padding-left: 5%;
    width: 10em;
}

#cTrait{
  height: 1.75em;
  display: inline-block;
  font-size: 1.25em;
  background-color: grey;
  border: solid #C3073F 2px;
  border-radius: 10px;
  width: 10em;
}

#intro{
  border: solid #C3073F 2px;
  border-radius: 10px;
}

#col-left {
  width: 30% !important;
  float: none !important;
  justify-content: center !important;
  text-align: center !important;
  /* padding-left: 8%; */
  color: white;
  border-right: 3px solid #6f2232 !important;
}

@media only screen and (max-width: 760px), (min-width: 768px) and (max-width: 1024px) {
  form input, #cTrait{
    width: 7.5em;
  }
}

@media only screen and (max-width: 600px) {
  form input, #cTrait{
    width: 5.5em;
  }
}
